[Unit]
Description=Cloudflare DDNS Service
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=3
User=root
Environment=CF_API_EMAIL=yourname@example.com
Environment=CF_API_KEY=12345abcde
Environment=CF_ZONE=example.com
Environment=LOG_FILE=/var/www/ddns/ddns.log
Environment=INTERVAL=300
Environment=NAME=ddns.example.com
Environment=TYPE=A
ExecStart=/var/www/ddns/cloudflare-ddns

[Install]
WantedBy=multi-user.target
